/* css */

header{
    position: top;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: black;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
main{
    background-color: grey;
    margin-top: 30px;
    margin-right: 10%;
    margin-bottom: 30px;
    margin-left: 10%;
    padding-top: 20px;
    padding-bottom: 20px; 
    border: 1px;
    border-radius: 50px;
}
.gambar{
    height: 200px;
    width: 300px;
}
figcaption{
    margin-top: 10px;
    text-align: center;
}
article{
    margin-left: 10%;
    margin-right: 10%;
}
.buttonkonversi{
    background-color: green;
    color: white;
    border: 0px;
    border-radius: 5px;
    height: 25px;
}
.buttonreset{
    background-color: yellow;
    color: black;
    border: 0px;
    border-radius: 5px;
    height: 25px;
}
.buttonreverse{
    background-color: blue;
    color: white;
    border: 0px;
    border-radius: 5px;
    height: 25px;
}
.inputansuhu{
    display: flex;
    text-align: center;
    justify-content: center;
}
.button{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.outputrumus{
    text-align: center;

}

footer{
    position: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}